.header {
    background-color: grey;
    color: white;
    padding: 0px;
    margin: 0px;
    
}
.header1
{
    height: 10px;
    display: flex;
    align-items: center;
    padding-bottom: 5px; 
    margin: 20px;
    text-align: center;
}
a{
    margin-right: 19px;
    text-decoration: none;
    color: white;
    text-align: center;
    margin-bottom: 19px;
}
.intro{
    margin-left: 30%;
    margin-top: 20px;
    margin-right: 30%;
}
.footer
{
    background-color: black;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 0px;
    
}
